# IPL Probability Predictor

This is a kaggle dataset where we have 5 Files but we are focused only on 2 Files : 
1. matches.csv $\rightarrow$ Has each match analysis
2. deliveries.csv $\rightarrow$ Has each ball analysis.

##### Data Set Link : https://www.kaggle.com/datasets/ramjidoolla/ipl-data-set

In [80]:
# Import the libraries for data cleaning 
import numpy as np 
import pandas as pd

In [81]:
# import the data 
match_df = pd.read_csv('Data/matches.csv')
delivery_df = pd.read_csv('Data/deliveries.csv')

In [82]:
match_df.head()

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [83]:
match_df.shape

(756, 18)

In [84]:
match_df.columns

Index(['id', 'Season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3'],
      dtype='object')

In [85]:
match_df.drop(['toss_winner','toss_decision','player_of_match','umpire1', 'umpire2','umpire3'],axis=1,inplace=True)

In [86]:
match_df.head()

,id,Season,city,date,team1,team2,result,dl_applied,winner,win_by_runs,win_by_wickets,venue
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,normal,0,Sunrisers Hyderabad,35,0,"Rajiv Gandhi International Stadium, Uppal"
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,normal,0,Rising Pune Supergiant,0,7,Maharashtra Cricket Association Stadium
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,normal,0,Kolkata Knight Riders,0,10,Saurashtra Cricket Association Stadium
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,normal,0,Kings XI Punjab,0,6,Holkar Cricket Stadium
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,normal,0,Royal Challengers Bangalore,15,0,M Chinnaswamy Stadium

In [87]:
match_df.shape

(756, 12)

In [88]:
delivery_df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [89]:
delivery_df.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [90]:
delivery_df.drop(['bowler','is_super_over','dismissal_kind','fielder','wide_runs','bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',],axis=1,inplace=True)

In [91]:
delivery_df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,total_runs,player_dismissed
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,0,0,0,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,0,0,0,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,4,0,4,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,0,0,0,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,0,2,2,NaN

In [92]:
delivery_df.shape

(179078, 12)

- batsman_runs --> Runs made by bats man
- total_runs --> Runs scored

In [93]:
total_score_df = (delivery_df.groupby(['match_id','inning']).sum()['total_runs'].reset_index())

In [94]:
total_score_df

      match_id  inning  total_runs
0            1       1         207
1            1       2         172
2            2       1         184
3            2       2         187
4            3       1         183
...        ...     ...         ...
1523     11413       2         170
1524     11414       1         155
1525     11414       2         162
1526     11415       1         152
1527     11415       2         157

[1528 rows x 3 columns]

In [95]:
total_score_df = total_score_df[total_score_df['inning']==1]

In [96]:
total_score_df

      match_id  inning  total_runs
0            1       1         207
2            2       1         184
4            3       1         183
6            4       1         163
8            5       1         157
...        ...     ...         ...
1518     11347       1         143
1520     11412       1         136
1522     11413       1         171
1524     11414       1         155
1526     11415       1         152

[756 rows x 3 columns]

In [97]:
match_df

,id,Season,city,date,team1,team2,result,dl_applied,winner,win_by_runs,win_by_wickets,venue
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,normal,0,Sunrisers Hyderabad,35,0,"Rajiv Gandhi International Stadium, Uppal"
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,normal,0,Rising Pune Supergiant,0,7,Maharashtra Cricket Association Stadium
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,normal,0,Kolkata Knight Riders,0,10,Saurashtra Cricket Association Stadium
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,normal,0,Kings XI Punjab,0,6,Holkar Cricket Stadium
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,normal,0,Royal Challengers Bangalore,15,0,M Chinnaswamy Stadium
...,...,...,...,...,...,...,...,...,...,...,...,...
751,11347,IPL-2019,Mumbai,05-05-2019,Kolkata Knight Riders,Mumbai Indians,normal,0,Mumbai Indians,0,9,Wankhede Stadium
752,11412,IPL-2019,Chennai,07-05-2019,Chennai Super Kings,Mumbai Indians,normal,0,Mumbai Indians,0,6,M. A. Chidambaram Stadium
753,11413,IPL-2019,Visakhapatnam,08-05-2019,Sunrisers Hyderabad,Delhi Capitals,normal,0,Delhi Capitals,0,2,ACA-VDCA Stadium
754,11414,IPL-2019,Visakhapatnam,10-05-2019,Delhi Capitals,Chennai Super Kings,normal,0,Chennai Super Kings,0,6,ACA-VDCA Stadium
755,11415,IPL-2019,Hyderabad,12-05-2019,Mumbai Indians,Chennai Super Kings,normal,0,Mumbai Indians,1,0,Rajiv Gandhi Intl. Cricket Stadium

In [98]:
match_df = (match_df.merge(total_score_df[['match_id','total_runs']],left_on='id',right_on='match_id'))

In [99]:
match_df

,id,Season,city,date,team1,team2,result,dl_applied,winner,win_by_runs,win_by_wickets,venue,match_id,total_runs
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,normal,0,Sunrisers Hyderabad,35,0,"Rajiv Gandhi International Stadium, Uppal",1,207
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,normal,0,Rising Pune Supergiant,0,7,Maharashtra Cricket Association Stadium,2,184
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,normal,0,Kolkata Knight Riders,0,10,Saurashtra Cricket Association Stadium,3,183
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,normal,0,Kings XI Punjab,0,6,Holkar Cricket Stadium,4,163
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,normal,0,Royal Challengers Bangalore,15,0,M Chinnaswamy Stadium,5,157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,11347,IPL-2019,Mumbai,05-05-2019,Kolkata Knight Riders,Mumbai Indians,normal,0,Mumbai Indians,0,9,Wankhede Stadium,11347,143
752,11412,IPL-2019,Chennai,07-05-2019,Chennai Super Kings,Mumbai Indians,normal,0,Mumbai Indians,0,6,M. A. Chidambaram Stadium,11412,136
753,11413,IPL-2019,Visakhapatnam,08-05-2019,Sunrisers Hyderabad,Delhi Capitals,normal,0,Delhi Capitals,0,2,ACA-VDCA Stadium,11413,171
754,11414,IPL-2019,Visakhapatnam,10-05-2019,Delhi Capitals,Chennai Super Kings,normal,0,Chennai Super Kings,0,6,ACA-VDCA Stadium,11414,155
755,11415,IPL-2019,Hyderabad,12-05-2019,Mumbai Indians,Chennai Super Kings,normal,0,Mumbai Indians,1,0,Rajiv Gandhi Intl. Cricket Stadium,11415,152

In [100]:
teams = list(match_df['team1'].unique())

In [101]:
teams

['Sunrisers Hyderabad',
 'Mumbai Indians',
 'Gujarat Lions',
 'Rising Pune Supergiant',
 'Royal Challengers Bangalore',
 'Kolkata Knight Riders',
 'Delhi Daredevils',
 'Kings XI Punjab',
 'Chennai Super Kings',
 'Rajasthan Royals',
 'Deccan Chargers',
 'Kochi Tuskers Kerala',
 'Pune Warriors',
 'Rising Pune Supergiants',
 'Delhi Capitals']

-  'Sunrisers Hyderabad'Mu- mbai Indians',
  --> Gujarat Titans '- Gujarat Lions',
 'Rising  --> No MoreP- une Supergiant',
 'Royal Challe- ngers Bangalore',
 'Kolka- ta Knight Riders',
 --> 'Delhi Capitals' -' Delhi Daredevils',-
  'Kings XI Punjab',
 '-C hennai Super Kings',- 
 'Rajasthan Royals',
'Sunrisers Hyderabad' -' Deccan  --Chargers', --> No More
-  'Kochi Tuskers K --> No Moree-r ala',
 'Pune Warriors',
 -' Rising Pune Supergiants',
 'Delhi Capitals'

In [102]:
teams = ['Sunrisers Hyderabad',
    'Mumbai Indians',
    'Gujarat Titans',
    'Royal Challengers Bangalore',
    'Kolkata Knight Riders',
    'Kings XI Punjab',
    'Chennai Super Kings',
    'Rajasthan Royals',
    'Delhi Capitals']

In [103]:
# Replace Delhi Daredevils with Delhi capitals 
match_df['team1'] = match_df['team1'].str.replace('Delhi Daredevils', 'Delhi Capitals')
match_df['team2'] = match_df['team2'].str.replace('Delhi Daredevils', 'Delhi Capitals')

match_df['team1'] = match_df['team1'].str.replace('Deccan Chargers', 'Sunrisers Hyderabad')
match_df['team2'] = match_df['team2'].str.replace('Deccan Chargers', 'Sunrisers Hyderabad')

match_df['team1'] = match_df['team1'].str.replace('Gujarat Lions', 'Gujarat Titans')
match_df['team2'] = match_df['team2'].str.replace('Gujarat Lions', 'Gujarat Titans')

In [104]:
match_df['team1'].unique()

array(['Sunrisers Hyderabad', 'Mumbai Indians', 'Gujarat Titans',
       'Rising Pune Supergiant', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Delhi Capitals', 'Kings XI Punjab',
       'Chennai Super Kings', 'Rajasthan Royals', 'Kochi Tuskers Kerala',
       'Pune Warriors', 'Rising Pune Supergiants'], dtype=object)

In [105]:
match_df = match_df[match_df['team1'].isin(teams)]
match_df = match_df[match_df['team2'].isin(teams)]

In [106]:
match_df['team1'].unique()

array(['Sunrisers Hyderabad', 'Gujarat Titans',
       'Royal Challengers Bangalore', 'Kolkata Knight Riders',
       'Kings XI Punjab', 'Delhi Capitals', 'Mumbai Indians',
       'Chennai Super Kings', 'Rajasthan Royals'], dtype=object)

In [107]:
match_df.shape

(667, 14)

In [108]:
match_df.head()

,id,Season,city,date,team1,team2,result,dl_applied,winner,win_by_runs,win_by_wickets,venue,match_id,total_runs
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,normal,0,Sunrisers Hyderabad,35,0,"Rajiv Gandhi International Stadium, Uppal",1,207
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Titans,Kolkata Knight Riders,normal,0,Kolkata Knight Riders,0,10,Saurashtra Cricket Association Stadium,3,183
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Capitals,normal,0,Royal Challengers Bangalore,15,0,M Chinnaswamy Stadium,5,157
5,6,IPL-2017,Hyderabad,09-04-2017,Gujarat Titans,Sunrisers Hyderabad,normal,0,Sunrisers Hyderabad,0,9,"Rajiv Gandhi International Stadium, Uppal",6,135
6,7,IPL-2017,Mumbai,09-04-2017,Kolkata Knight Riders,Mumbai Indians,normal,0,Mumbai Indians,0,4,Wankhede Stadium,7,178

In [109]:
# dl_applied is 0 means normal match and 1 means duckworth lewis rules are applied 
match_df['dl_applied'].value_counts()

dl_applied
0    652
1     15
Name: count, dtype: int64

In [110]:
# Removing dl_applied = 1 records or rows 
match_df = match_df[match_df['dl_applied'] == 0]

In [111]:
match_df.shape

(652, 14)

In [112]:
match_df.columns

Index(['id', 'Season', 'city', 'date', 'team1', 'team2', 'result',
       'dl_applied', 'winner', 'win_by_runs', 'win_by_wickets', 'venue',
       'match_id', 'total_runs'],
      dtype='object')

In [113]:
match_df

,id,Season,city,date,team1,team2,result,dl_applied,winner,win_by_runs,win_by_wickets,venue,match_id,total_runs
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,normal,0,Sunrisers Hyderabad,35,0,"Rajiv Gandhi International Stadium, Uppal",1,207
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Titans,Kolkata Knight Riders,normal,0,Kolkata Knight Riders,0,10,Saurashtra Cricket Association Stadium,3,183
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Capitals,normal,0,Royal Challengers Bangalore,15,0,M Chinnaswamy Stadium,5,157
5,6,IPL-2017,Hyderabad,09-04-2017,Gujarat Titans,Sunrisers Hyderabad,normal,0,Sunrisers Hyderabad,0,9,"Rajiv Gandhi International Stadium, Uppal",6,135
6,7,IPL-2017,Mumbai,09-04-2017,Kolkata Knight Riders,Mumbai Indians,normal,0,Mumbai Indians,0,4,Wankhede Stadium,7,178
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,11347,IPL-2019,Mumbai,05-05-2019,Kolkata Knight Riders,Mumbai Indians,normal,0,Mumbai Indians,0,9,Wankhede Stadium,11347,143
752,11412,IPL-2019,Chennai,07-05-2019,Chennai Super Kings,Mumbai Indians,normal,0,Mumbai Indians,0,6,M. A. Chidambaram Stadium,11412,136
753,11413,IPL-2019,Visakhapatnam,08-05-2019,Sunrisers Hyderabad,Delhi Capitals,normal,0,Delhi Capitals,0,2,ACA-VDCA Stadium,11413,171
754,11414,IPL-2019,Visakhapatnam,10-05-2019,Delhi Capitals,Chennai Super Kings,normal,0,Chennai Super Kings,0,6,ACA-VDCA Stadium,11414,155
755,11415,IPL-2019,Hyderabad,12-05-2019,Mumbai Indians,Chennai Super Kings,normal,0,Mumbai Indians,1,0,Rajiv Gandhi Intl. Cricket Stadium,11415,152

In [114]:
match_df = match_df[['match_id','city','winner','total_runs']]

In [115]:
delivery_df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,total_runs,player_dismissed
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,0,0,0,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,0,0,0,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,4,0,4,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,0,0,0,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,0,2,2,NaN

In [116]:
delivery_df = delivery_df[delivery_df['inning'] == 2 ]

In [117]:
delivery_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 86240 entries, 125 to 179077
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_id          86240 non-null  int64
 1   inning            86240 non-null  int64
 2   batting_team      86240 non-null  object
 3   bowling_team      86240 non-null  object
 4   over              86240 non-null  int64
 5   ball              86240 non-null  int64
 6   batsman           86240 non-null  object
 7   non_striker       86240 non-null  object
 8   batsman_runs      86240 non-null  int64
 9   extra_runs        86240 non-null  int64
 10  total_runs        86240 non-null  int64
 11  player_dismissed  4216 non-null   object
dtypes: int64(7), object(5)
memory usage: 8.6+ MB

In [118]:
delivery_df = match_df.merge(delivery_df, on='match_id')

In [119]:
delivery_df

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,total_runs_y,player_dismissed
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,NaN
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,NaN
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,NaN
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,NaN
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,1,0,1,NaN
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,2,0,2,NaN
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,1,0,1,SR Watson
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,2,0,2,NaN
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,0,0,0,SN Thakur

In [120]:
delivery_df.columns

Index(['match_id', 'city', 'winner', 'total_runs_x', 'inning', 'batting_team',
       'bowling_team', 'over', 'ball', 'batsman', 'non_striker',
       'batsman_runs', 'extra_runs', 'total_runs_y', 'player_dismissed'],
      dtype='object')

In [121]:
delivery_df.rename(columns={'total_runs_x':'total_runs','total_runs_y':'Ball_score'},inplace=True)

In [122]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,Ball_score,player_dismissed
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,NaN
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,NaN
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,NaN
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,NaN
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,1,0,1,NaN
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,2,0,2,NaN
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,1,0,1,SR Watson
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,2,0,2,NaN
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,0,0,0,SN Thakur

In [123]:
delivery_df['Score'] = delivery_df[['match_id','Ball_score']].groupby('match_id').cumsum()['Ball_score']

In [124]:
delivery_df[['Ball_score','Score']]

       Ball_score  Score
0               1      1
1               0      1
2               0      1
3               2      3
4               4      7
...           ...    ...
75335           1    152
75336           2    154
75337           1    155
75338           2    157
75339           0    157

[75340 rows x 2 columns]

In [125]:
# New columns which has target 
delivery_df['target_left'] = (delivery_df['total_runs'] + 1) - delivery_df['Score']

In [126]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,Ball_score,player_dismissed,Score,target_left
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,NaN,1,207
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,NaN,1,207
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,NaN,1,207
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,NaN,3,205
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,NaN,7,201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,1,0,1,NaN,152,1
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,2,0,2,NaN,154,-1
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,1,0,1,SR Watson,155,-2
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,2,0,2,NaN,157,-4
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,0,0,0,SN Thakur,157,-4

In [127]:
# 1 over 6 balls 
# ipl has 20 over match 20 * 6 = 120 
delivery_df['Remaining Balls'] = (120 - ( (delivery_df['over'] - 1)*6 + delivery_df['ball']))

In [128]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,Ball_score,player_dismissed,Score,target_left,Remaining Balls
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,NaN,1,207,119
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,NaN,1,207,118
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,NaN,1,207,117
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,NaN,3,205,116
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,NaN,7,201,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,1,0,1,NaN,152,1,4
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,2,0,2,NaN,154,-1,3
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,1,0,1,SR Watson,155,-2,2
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,2,0,2,NaN,157,-4,1
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,0,0,0,SN Thakur,157,-4,0

In [129]:
# How many  wickets are left out

In [130]:
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].fillna('0')

In [131]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,Ball_score,player_dismissed,Score,target_left,Remaining Balls
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,0,1,207,119
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,0,1,207,118
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,0,1,207,117
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,0,3,205,116
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,0,7,201,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,1,0,1,0,152,1,4
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,2,0,2,0,154,-1,3
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,1,0,1,SR Watson,155,-2,2
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,2,0,2,0,157,-4,1
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,0,0,0,SN Thakur,157,-4,0

In [132]:
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].apply(lambda x:x if x == '0' else '1').astype('int64')

In [133]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,Ball_score,player_dismissed,Score,target_left,Remaining Balls
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,0,1,207,119
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,0,1,207,118
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,0,1,207,117
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,0,3,205,116
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,0,7,201,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,1,0,1,0,152,1,4
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,2,0,2,0,154,-1,3
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,1,0,1,1,155,-2,2
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,2,0,2,0,157,-4,1
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,0,0,0,1,157,-4,0

In [134]:
delivery_df[['match_id','player_dismissed']]

       match_id  player_dismissed
0             1                 0
1             1                 0
2             1                 0
3             1                 0
4             1                 0
...         ...               ...
75335     11415                 0
75336     11415                 0
75337     11415                 1
75338     11415                 0
75339     11415                 1

[75340 rows x 2 columns]

In [135]:
delivery_df['Wickets'] = delivery_df[['match_id','player_dismissed']].groupby('match_id').cumsum()['player_dismissed'].values

In [136]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,Ball_score,player_dismissed,Score,target_left,Remaining Balls,Wickets
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,0,1,207,119,0
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,0,1,207,118,0
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,0,1,207,117,0
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,0,3,205,116,0
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,0,7,201,115,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,1,0,1,0,152,1,4,5
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,2,0,2,0,154,-1,3,5
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,1,0,1,1,155,-2,2,6
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,2,0,2,0,157,-4,1,6
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,0,0,0,1,157,-4,0,7

In [137]:
delivery_df['Wickets'] = 10 - delivery_df['Wickets']

In [138]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,Ball_score,player_dismissed,Score,target_left,Remaining Balls,Wickets
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,0,1,207,119,10
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,0,1,207,118,10
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,0,1,207,117,10
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,0,3,205,116,10
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,0,7,201,115,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,1,0,1,0,152,1,4,5
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,2,0,2,0,154,-1,3,5
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,1,0,1,1,155,-2,2,4
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,2,0,2,0,157,-4,1,4
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,0,0,0,1,157,-4,0,3

Current Run Rate 

$$Current \ run \ rate = \frac{Runs \ scored}{Number \ of \ Overs \ completed}$$

In [139]:
delivery_df['crr'] = (delivery_df['Score'])*6/(120 - delivery_df['Remaining Balls'])

In [140]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,Ball_score,player_dismissed,Score,target_left,Remaining Balls,Wickets,crr
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,0,1,207,119,10,6.000000
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,0,1,207,118,10,3.000000
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,0,1,207,117,10,2.000000
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,0,3,205,116,10,4.500000
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,0,7,201,115,10,8.400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,1,0,1,0,152,1,4,5,7.862069
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,2,0,2,0,154,-1,3,5,7.897436
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,1,0,1,1,155,-2,2,4,7.881356
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,2,0,2,0,157,-4,1,4,7.915966
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,0,0,0,1,157,-4,0,3,7.850000

Required Run Rate 

$$Required \ run \ rate = \frac{Remaining \ score \ or \ Target}{Number \ of \ Overs \ left}$$

In [141]:
delivery_df['rrr'] = (delivery_df['target_left'])*6/(delivery_df['Remaining Balls'])

In [142]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,...,batsman_runs,extra_runs,Ball_score,player_dismissed,Score,target_left,Remaining Balls,Wickets,crr,rrr
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,1,0,1,0,1,207,119,10,6.000000,10.436975
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,0,0,0,1,207,118,10,3.000000,10.525424
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,0,0,0,1,207,117,10,2.000000,10.615385
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,2,0,2,0,3,205,116,10,4.500000,10.603448
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,4,0,4,0,7,201,115,10,8.400000,10.486957
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,...,1,0,1,0,152,1,4,5,7.862069,1.500000
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,...,2,0,2,0,154,-1,3,5,7.897436,-2.000000
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,...,1,0,1,1,155,-2,2,4,7.881356,-6.000000
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,...,2,0,2,0,157,-4,1,4,7.915966,-24.000000
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,...,0,0,0,1,157,-4,0,3,7.850000,-inf

In [143]:
# Creating a column result where 1 means won 0 means lost 
def result(row):
    if row['batting_team'] == row['winner']: 
        return 1
    else: 
        return 0

In [144]:
delivery_df['result'] = delivery_df.apply(result,axis=1)

In [145]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,...,extra_runs,Ball_score,player_dismissed,Score,target_left,Remaining Balls,Wickets,crr,rrr,result
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,0,1,0,1,207,119,10,6.000000,10.436975,0
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,0,0,1,207,118,10,3.000000,10.525424,0
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,0,0,1,207,117,10,2.000000,10.615385,0
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,0,2,0,3,205,116,10,4.500000,10.603448,0
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,0,4,0,7,201,115,10,8.400000,10.486957,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,...,0,1,0,152,1,4,5,7.862069,1.500000,0
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,...,0,2,0,154,-1,3,5,7.897436,-2.000000,0
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,...,0,1,1,155,-2,2,4,7.881356,-6.000000,0
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,...,0,2,0,157,-4,1,4,7.915966,-24.000000,0
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,...,0,0,1,157,-4,0,3,7.850000,-inf,0

In [146]:
delivery_df.columns

Index(['match_id', 'city', 'winner', 'total_runs', 'inning', 'batting_team',
       'bowling_team', 'over', 'ball', 'batsman', 'non_striker',
       'batsman_runs', 'extra_runs', 'Ball_score', 'player_dismissed', 'Score',
       'target_left', 'Remaining Balls', 'Wickets', 'crr', 'rrr', 'result'],
      dtype='object')

In [147]:
Model_df = delivery_df[['batting_team','bowling_team','city','Score','Wickets','Remaining Balls','target_left','crr','rrr','result']]

In [148]:
Model_df

,batting_team,bowling_team,city,Score,Wickets,Remaining Balls,target_left,crr,rrr,result
0,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,1,10,119,207,6.000000,10.436975,0
1,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,1,10,118,207,3.000000,10.525424,0
2,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,1,10,117,207,2.000000,10.615385,0
3,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,3,10,116,205,4.500000,10.603448,0
4,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,7,10,115,201,8.400000,10.486957,0
...,...,...,...,...,...,...,...,...,...,...
75335,Chennai Super Kings,Mumbai Indians,Hyderabad,152,5,4,1,7.862069,1.500000,0
75336,Chennai Super Kings,Mumbai Indians,Hyderabad,154,5,3,-1,7.897436,-2.000000,0
75337,Chennai Super Kings,Mumbai Indians,Hyderabad,155,4,2,-2,7.881356,-6.000000,0
75338,Chennai Super Kings,Mumbai Indians,Hyderabad,157,4,1,-4,7.915966,-24.000000,0
75339,Chennai Super Kings,Mumbai Indians,Hyderabad,157,3,0,-4,7.850000,-inf,0

In [149]:
Model_df.isnull().sum()

batting_team         0
bowling_team         0
city               832
Score                0
Wickets              0
Remaining Balls      0
target_left          0
crr                  0
rrr                  5
result               0
dtype: int64

In [150]:
# Remove the records where city is missing 
Model_df[Model_df['city'].isna()]

,batting_team,bowling_team,city,Score,Wickets,Remaining Balls,target_left,crr,rrr,result
43674,Royal Challengers Bangalore,Mumbai Indians,NaN,0,10,119,116,0.000000,5.848739,1
43675,Royal Challengers Bangalore,Mumbai Indians,NaN,4,10,118,112,12.000000,5.694915,1
43676,Royal Challengers Bangalore,Mumbai Indians,NaN,5,10,117,111,10.000000,5.692308,1
43677,Royal Challengers Bangalore,Mumbai Indians,NaN,7,10,116,109,10.500000,5.637931,1
43678,Royal Challengers Bangalore,Mumbai Indians,NaN,7,10,115,109,8.400000,5.686957,1
...,...,...,...,...,...,...,...,...,...,...
45510,Mumbai Indians,Sunrisers Hyderabad,NaN,154,3,4,19,7.965517,28.500000,0
45511,Mumbai Indians,Sunrisers Hyderabad,NaN,154,3,3,19,7.897436,38.000000,0
45512,Mumbai Indians,Sunrisers Hyderabad,NaN,155,3,2,18,7.881356,54.000000,0
45513,Mumbai Indians,Sunrisers Hyderabad,NaN,156,3,1,17,7.865546,102.000000,0
45514,Mumbai Indians,Sunrisers Hyderabad,NaN,157,3,0,16,7.850000,inf,0

In [151]:
Model_df.dropna

<bound method DataFrame.dropna of                       batting_team         bowling_team       city  Score  \
0      Royal Challengers Bangalore  Sunrisers Hyderabad  Hyderabad      1
1      Royal Challengers Bangalore  Sunrisers Hyderabad  Hyderabad      1
2      Royal Challengers Bangalore  Sunrisers Hyderabad  Hyderabad      1
3      Royal Challengers Bangalore  Sunrisers Hyderabad  Hyderabad      3
4      Royal Challengers Bangalore  Sunrisers Hyderabad  Hyderabad      7
...                            ...                  ...        ...    ...
75335          Chennai Super Kings       Mumbai Indians  Hyderabad    152
75336          Chennai Super Kings       Mumbai Indians  Hyderabad    154
75337          Chennai Super Kings       Mumbai Indians  Hyderabad    155
75338          Chennai Super Kings       Mumbai Indians  Hyderabad    157
75339          Chennai Super Kings       Mumbai Indians  Hyderabad    157

       Wickets  Remaining Balls  target_left       crr        rrr  result
0           10              119          207  6.000000  10.436975       0
1           10              118          207  3.000000  10.525424       0
2           10              117          207  2.000000  10.615385       0
3           10              116          205  4.500000  10.603448       0
4           10              115          201  8.400000  10.486957       0
...        ...              ...          ...       ...        ...     ...
75335        5                4            1  7.862069   1.500000       0
75336        5                3           -1  7.897436  -2.000000       0
75337        4                2           -2  7.881356  -6.000000       0
75338        4                1           -4  7.915966 -24.000000       0
75339        3                0           -4  7.850000       -inf       0

[75340 rows x 10 columns]>

In [152]:
Model_df.isnull().sum()

batting_team         0
bowling_team         0
city               832
Score                0
Wickets              0
Remaining Balls      0
target_left          0
crr                  0
rrr                  5
result               0
dtype: int64

In [153]:
Model_df.describe()

C:\Users\TEJAS\AppData\Roaming\Python\Python312\site-packages\numpy\core\_methods.py:49: RuntimeWarning: invalid value encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)

,Score,Wickets,Remaining Balls,target_left,crr,rrr,result
count,75340.000000,75340.000000,75340.000000,75340.000000,75340.000000,7.533500e+04,75340.000000
mean,73.534656,7.538067,62.728006,93.180953,7.474123,NaN,0.535904
std,46.996341,2.137006,33.372174,50.162001,2.285418,NaN,0.498713
min,0.000000,0.000000,-2.000000,-15.000000,0.000000,-inf,0.000000
25%,34.000000,6.000000,35.000000,54.000000,6.279070,7.219544e+00,0.000000
50%,70.000000,8.000000,63.000000,92.000000,7.500000,8.953846e+00,1.000000
75%,109.000000,9.000000,92.000000,131.000000,8.736842,1.100000e+01,1.000000
max,223.000000,10.000000,119.000000,250.000000,42.000000,inf,1.000000

In [154]:
Model_df = Model_df[Model_df['Remaining Balls'] != 0]

In [155]:
Model_df.describe()

,Score,Wickets,Remaining Balls,target_left,crr,rrr,result
count,75092.000000,75092.000000,75092.000000,75092.000000,75092.000000,75092.000000,75092.000000
mean,73.253289,7.553308,62.935173,93.422349,7.472596,10.498013,0.537261
std,46.797416,2.121955,33.231641,50.057663,2.287995,13.797116,0.498613
min,0.000000,0.000000,-2.000000,-15.000000,0.000000,-516.000000,0.000000
25%,34.000000,6.000000,35.000000,54.000000,6.272727,7.212121,0.000000
50%,70.000000,8.000000,64.000000,93.000000,7.500000,8.945455,1.000000
75%,108.000000,9.000000,92.000000,131.000000,8.736842,10.965517,1.000000
max,222.000000,10.000000,119.000000,250.000000,42.000000,684.000000,1.000000

In [156]:
Model_df = Model_df.sample(Model_df.shape[0])

In [157]:
Model_df.sample()

,batting_team,bowling_team,city,Score,Wickets,Remaining Balls,target_left,crr,rrr,result
45086,Chennai Super Kings,Sunrisers Hyderabad,Sharjah,76,10,59,70,7.47541,7.118644,1

In [158]:
# Splitting the data into features and target 

X = Model_df.iloc[:,:-1]

Y = Model_df.iloc[:,-1]

In [159]:
X

,batting_team,bowling_team,city,Score,Wickets,Remaining Balls,target_left,crr,rrr
70333,Kolkata Knight Riders,Royal Challengers Bangalore,Bengaluru,54,9,91,157,11.172414,10.351648
60409,Delhi Daredevils,Mumbai Indians,Visakhapatnam,60,8,74,147,7.826087,11.918919
73515,Chennai Super Kings,Mumbai Indians,Chennai,42,7,79,118,6.146341,8.962025
47456,Delhi Daredevils,Royal Challengers Bangalore,Bangalore,54,8,78,133,7.714286,10.230769
4301,Sunrisers Hyderabad,Gujarat Lions,Kanpur,116,8,39,39,8.592593,6.000000
...,...,...,...,...,...,...,...,...,...
65275,Mumbai Indians,Kings XI Punjab,Indore,55,9,68,130,6.346154,11.470588
43009,Mumbai Indians,Rajasthan Royals,Kolkata,59,10,73,107,7.531915,8.794521
10057,Chennai Super Kings,Rajasthan Royals,Chennai,6,10,114,206,6.000000,10.842105
7058,Royal Challengers Bangalore,Deccan Chargers,Hyderabad,171,5,6,-5,9.000000,-5.000000
64772,Kolkata Knight Riders,Royal Challengers Bangalore,Bengaluru,57,10,81,129,8.769231,9.555556

In [160]:
Y

70333    1
60409    0
73515    0
47456    0
4301     1
        ..
65275    1
43009    1
10057    0
7058     1
64772    1
Name: result, Length: 75092, dtype: int64

In [161]:
# Splitting the data to train and test : 
from sklearn.model_selection import train_test_split 

X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2,random_state=2)

In [162]:
X_train

,batting_team,bowling_team,city,Score,Wickets,Remaining Balls,target_left,crr,rrr
19669,Mumbai Indians,Chennai Super Kings,Mumbai,118,8,43,63,9.194805,8.790698
54188,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata,11,8,111,157,7.333333,8.486486
7019,Royal Challengers Bangalore,Deccan Chargers,Hyderabad,85,7,45,81,6.800000,10.800000
19450,Chennai Super Kings,Royal Challengers Bangalore,Bangalore,113,4,17,59,6.582524,20.823529
41018,Kolkata Knight Riders,Mumbai Indians,Mumbai,101,2,17,70,5.883495,24.705882
...,...,...,...,...,...,...,...,...,...
74643,Royal Challengers Bangalore,Sunrisers Hyderabad,Bengaluru,177,4,7,3,9.398230,2.571429
3048,Mumbai Indians,Royal Challengers Bangalore,Mumbai,90,7,48,73,7.500000,9.125000
21476,Royal Challengers Bangalore,Delhi Daredevils,Delhi,147,1,1,38,7.411765,228.000000
70628,Sunrisers Hyderabad,Mumbai Indians,Hyderabad,75,5,41,68,5.696203,9.951220
36880,Kolkata Knight Riders,Rajasthan Royals,Jaipur,1,10,119,144,6.000000,7.260504

In [163]:
X_test

,batting_team,bowling_team,city,Score,Wickets,Remaining Balls,target_left,crr,rrr
26574,Royal Challengers Bangalore,Delhi Daredevils,Delhi,139,4,18,22,8.176471,7.333333
11479,Royal Challengers Bangalore,Deccan Chargers,Cape Town,103,6,33,82,7.103448,14.909091
35389,Deccan Chargers,Rajasthan Royals,Hyderabad,85,8,48,42,7.083333,5.250000
2944,Kolkata Knight Riders,Sunrisers Hyderabad,Hyderabad,122,6,30,88,8.133333,17.600000
55373,Delhi Daredevils,Chennai Super Kings,Raipur,14,10,108,106,7.000000,5.888889
...,...,...,...,...,...,...,...,...,...
23942,Royal Challengers Bangalore,Mumbai Indians,Mumbai,47,8,82,138,7.421053,10.097561
54300,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata,132,1,1,36,6.655462,216.000000
7610,Deccan Chargers,Chennai Super Kings,Chennai,127,7,17,18,7.398058,6.352941
44838,Kolkata Knight Riders,Kings XI Punjab,Abu Dhabi,27,7,79,106,3.951220,8.050633
13377,Rajasthan Royals,Deccan Chargers,Port Elizabeth,33,7,82,109,5.210526,7.975610

In [164]:
Y_train

19669    1
54188    0
7019     1
19450    0
41018    0
        ..
74643    1
3048     1
21476    0
70628    0
36880    0
Name: result, Length: 60073, dtype: int64

In [165]:
Y_test

26574    1
11479    0
35389    1
2944     0
55373    1
        ..
23942    0
54300    0
7610     1
44838    0
13377    1
Name: result, Length: 15019, dtype: int64

In [190]:
# Label encoding 
# One hot encoder 
# tranform non numberical data to numerical 

from sklearn.compose import ColumnTransformer 
from sklearn.preprocessing import OneHotEncoder

In [191]:
trf = ColumnTransformer([
    ('trf', OneHotEncoder(sparse_output=False, drop='first'), ['batting_team', 'bowling_team', 'city'])
], remainder='passthrough')

In [192]:
trf

ColumnTransformer(remainder='passthrough',
                  transformers=[('trf',
                                 OneHotEncoder(drop='first',
                                               sparse_output=False),
                                 ['batting_team', 'bowling_team', 'city'])])

In [193]:
# Building the model 
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

In [194]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',LogisticRegression(solver='liblinear'))
])

In [195]:
pipe.fit(X_train,Y_train)

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse_output=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [196]:
Y_prediction = pipe.predict(X_test)

In [197]:
Y_prediction

array([1, 0, 1, ..., 0, 0, 1], dtype=int64)

In [198]:
# Accuracy score 
from sklearn.metrics import accuracy_score

In [199]:
accuracy_score(Y_test,Y_prediction)

0.8145682135961116

In [200]:
# Exporting the model 
import pickle as pkl

In [201]:
pkl.dump(pipe,open('model.pkl','wb'))

In [202]:
teams

['Sunrisers Hyderabad',
 'Mumbai Indians',
 'Gujarat Titans',
 'Royal Challengers Bangalore',
 'Kolkata Knight Riders',
 'Kings XI Punjab',
 'Chennai Super Kings',
 'Rajasthan Royals',
 'Delhi Capitals']

In [203]:
pkl.dump(teams,open('team.pkl','wb'))

In [204]:
cities = list(Model_df['city'].unique())

In [205]:
cities

['Bengaluru',
 'Visakhapatnam',
 'Chennai',
 'Bangalore',
 'Kanpur',
 'Port Elizabeth',
 'Mumbai',
 'Kimberley',
 'Kolkata',
 'Hyderabad',
 'Johannesburg',
 'Delhi',
 'Chandigarh',
 'Jaipur',
 'Mohali',
 'East London',
 'Abu Dhabi',
 'Rajkot',
 'Ahmedabad',
 'Centurion',
 'Durban',
 'Cape Town',
 'Pune',
 'Dharamsala',
 nan,
 'Ranchi',
 'Cuttack',
 'Sharjah',
 'Raipur',
 'Nagpur',
 'Indore',
 'Bloemfontein']

In [206]:
pkl.dump(cities,open('city.pkl','wb'))

In [207]:
Model_df.columns

Index(['batting_team', 'bowling_team', 'city', 'Score', 'Wickets',
       'Remaining Balls', 'target_left', 'crr', 'rrr', 'result'],
      dtype='object')